@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.container-404 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
}

.container-404 h1 {
  font-size: 150px;
  font-weight: bold;
  color: #0a0a0a;
  text-shadow: 3px 3px 0 #02ffea, 6px 6px 0 #111111;
  margin-bottom: 0;
  transform: skew(-20deg);
}

.container-404 .title {
  font-size: 30px;
  font-weight: bold;
  color: #ff0404;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container-404 a {
  display: flex;
  background-color: #4b4a4b;
  color: #69e0fd;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.container-404 .icon {
  margin-left: 10px;
  height: 100%;
}

.container-404 a:hover {
  background-color: #020202;
  color: #04e2ff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
